<div>
  <label for='explicit_input_{{vm.$baseValue0}}'>unit 0</label>
  <input name='explicit_input_{{vm.$baseValue0}}' id='explicit_input_{{vm.$baseValue0}}' type='text' ng-model='vm.$baseValue0' />
  <input name='implicit_input_{{vm.$baseValue0}}' id='implicit_input_{{vm.$baseValue0}}' type='text' value='{{vm.$baseValue0}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue1}}'>unit 1</label>
  <input name='explicit_input_{{vm.$baseValue1}}' id='explicit_input_{{vm.$baseValue1}}' type='text' ng-model='vm.$baseValue1' />
  <input name='implicit_input_{{vm.$baseValue1}}' id='implicit_input_{{vm.$baseValue1}}' type='text' value='{{vm.$baseValue1}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue2}}'>unit 2</label>
  <input name='explicit_input_{{vm.$baseValue2}}' id='explicit_input_{{vm.$baseValue2}}' type='text' ng-model='vm.$baseValue2' />
  <input name='implicit_input_{{vm.$baseValue2}}' id='implicit_input_{{vm.$baseValue2}}' type='text' value='{{vm.$baseValue2}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue3}}'>unit 3</label>
  <input name='explicit_input_{{vm.$baseValue3}}' id='explicit_input_{{vm.$baseValue3}}' type='text' ng-model='vm.$baseValue3' />
  <input name='implicit_input_{{vm.$baseValue3}}' id='implicit_input_{{vm.$baseValue3}}' type='text' value='{{vm.$baseValue3}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue4}}'>unit 4</label>
  <input name='explicit_input_{{vm.$baseValue4}}' id='explicit_input_{{vm.$baseValue4}}' type='text' ng-model='vm.$baseValue4' />
  <input name='implicit_input_{{vm.$baseValue4}}' id='implicit_input_{{vm.$baseValue4}}' type='text' value='{{vm.$baseValue4}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue5}}'>unit 5</label>
  <input name='explicit_input_{{vm.$baseValue5}}' id='explicit_input_{{vm.$baseValue5}}' type='text' ng-model='vm.$baseValue5' />
  <input name='implicit_input_{{vm.$baseValue5}}' id='implicit_input_{{vm.$baseValue5}}' type='text' value='{{vm.$baseValue5}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue6}}'>unit 6</label>
  <input name='explicit_input_{{vm.$baseValue6}}' id='explicit_input_{{vm.$baseValue6}}' type='text' ng-model='vm.$baseValue6' />
  <input name='implicit_input_{{vm.$baseValue6}}' id='implicit_input_{{vm.$baseValue6}}' type='text' value='{{vm.$baseValue6}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue7}}'>unit 7</label>
  <input name='explicit_input_{{vm.$baseValue7}}' id='explicit_input_{{vm.$baseValue7}}' type='text' ng-model='vm.$baseValue7' />
  <input name='implicit_input_{{vm.$baseValue7}}' id='implicit_input_{{vm.$baseValue7}}' type='text' value='{{vm.$baseValue7}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue8}}'>unit 8</label>
  <input name='explicit_input_{{vm.$baseValue8}}' id='explicit_input_{{vm.$baseValue8}}' type='text' ng-model='vm.$baseValue8' />
  <input name='implicit_input_{{vm.$baseValue8}}' id='implicit_input_{{vm.$baseValue8}}' type='text' value='{{vm.$baseValue8}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue9}}'>unit 9</label>
  <input name='explicit_input_{{vm.$baseValue9}}' id='explicit_input_{{vm.$baseValue9}}' type='text' ng-model='vm.$baseValue9' />
  <input name='implicit_input_{{vm.$baseValue9}}' id='implicit_input_{{vm.$baseValue9}}' type='text' value='{{vm.$baseValue9}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue10}}'>unit 10</label>
  <input name='explicit_input_{{vm.$baseValue10}}' id='explicit_input_{{vm.$baseValue10}}' type='text' ng-model='vm.$baseValue10' />
  <input name='implicit_input_{{vm.$baseValue10}}' id='implicit_input_{{vm.$baseValue10}}' type='text' value='{{vm.$baseValue10}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue11}}'>unit 11</label>
  <input name='explicit_input_{{vm.$baseValue11}}' id='explicit_input_{{vm.$baseValue11}}' type='text' ng-model='vm.$baseValue11' />
  <input name='implicit_input_{{vm.$baseValue11}}' id='implicit_input_{{vm.$baseValue11}}' type='text' value='{{vm.$baseValue11}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue12}}'>unit 12</label>
  <input name='explicit_input_{{vm.$baseValue12}}' id='explicit_input_{{vm.$baseValue12}}' type='text' ng-model='vm.$baseValue12' />
  <input name='implicit_input_{{vm.$baseValue12}}' id='implicit_input_{{vm.$baseValue12}}' type='text' value='{{vm.$baseValue12}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue13}}'>unit 13</label>
  <input name='explicit_input_{{vm.$baseValue13}}' id='explicit_input_{{vm.$baseValue13}}' type='text' ng-model='vm.$baseValue13' />
  <input name='implicit_input_{{vm.$baseValue13}}' id='implicit_input_{{vm.$baseValue13}}' type='text' value='{{vm.$baseValue13}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue14}}'>unit 14</label>
  <input name='explicit_input_{{vm.$baseValue14}}' id='explicit_input_{{vm.$baseValue14}}' type='text' ng-model='vm.$baseValue14' />
  <input name='implicit_input_{{vm.$baseValue14}}' id='implicit_input_{{vm.$baseValue14}}' type='text' value='{{vm.$baseValue14}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue15}}'>unit 15</label>
  <input name='explicit_input_{{vm.$baseValue15}}' id='explicit_input_{{vm.$baseValue15}}' type='text' ng-model='vm.$baseValue15' />
  <input name='implicit_input_{{vm.$baseValue15}}' id='implicit_input_{{vm.$baseValue15}}' type='text' value='{{vm.$baseValue15}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue16}}'>unit 16</label>
  <input name='explicit_input_{{vm.$baseValue16}}' id='explicit_input_{{vm.$baseValue16}}' type='text' ng-model='vm.$baseValue16' />
  <input name='implicit_input_{{vm.$baseValue16}}' id='implicit_input_{{vm.$baseValue16}}' type='text' value='{{vm.$baseValue16}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue17}}'>unit 17</label>
  <input name='explicit_input_{{vm.$baseValue17}}' id='explicit_input_{{vm.$baseValue17}}' type='text' ng-model='vm.$baseValue17' />
  <input name='implicit_input_{{vm.$baseValue17}}' id='implicit_input_{{vm.$baseValue17}}' type='text' value='{{vm.$baseValue17}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue18}}'>unit 18</label>
  <input name='explicit_input_{{vm.$baseValue18}}' id='explicit_input_{{vm.$baseValue18}}' type='text' ng-model='vm.$baseValue18' />
  <input name='implicit_input_{{vm.$baseValue18}}' id='implicit_input_{{vm.$baseValue18}}' type='text' value='{{vm.$baseValue18}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue19}}'>unit 19</label>
  <input name='explicit_input_{{vm.$baseValue19}}' id='explicit_input_{{vm.$baseValue19}}' type='text' ng-model='vm.$baseValue19' />
  <input name='implicit_input_{{vm.$baseValue19}}' id='implicit_input_{{vm.$baseValue19}}' type='text' value='{{vm.$baseValue19}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue20}}'>unit 20</label>
  <input name='explicit_input_{{vm.$baseValue20}}' id='explicit_input_{{vm.$baseValue20}}' type='text' ng-model='vm.$baseValue20' />
  <input name='implicit_input_{{vm.$baseValue20}}' id='implicit_input_{{vm.$baseValue20}}' type='text' value='{{vm.$baseValue20}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue21}}'>unit 21</label>
  <input name='explicit_input_{{vm.$baseValue21}}' id='explicit_input_{{vm.$baseValue21}}' type='text' ng-model='vm.$baseValue21' />
  <input name='implicit_input_{{vm.$baseValue21}}' id='implicit_input_{{vm.$baseValue21}}' type='text' value='{{vm.$baseValue21}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue22}}'>unit 22</label>
  <input name='explicit_input_{{vm.$baseValue22}}' id='explicit_input_{{vm.$baseValue22}}' type='text' ng-model='vm.$baseValue22' />
  <input name='implicit_input_{{vm.$baseValue22}}' id='implicit_input_{{vm.$baseValue22}}' type='text' value='{{vm.$baseValue22}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue23}}'>unit 23</label>
  <input name='explicit_input_{{vm.$baseValue23}}' id='explicit_input_{{vm.$baseValue23}}' type='text' ng-model='vm.$baseValue23' />
  <input name='implicit_input_{{vm.$baseValue23}}' id='implicit_input_{{vm.$baseValue23}}' type='text' value='{{vm.$baseValue23}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue24}}'>unit 24</label>
  <input name='explicit_input_{{vm.$baseValue24}}' id='explicit_input_{{vm.$baseValue24}}' type='text' ng-model='vm.$baseValue24' />
  <input name='implicit_input_{{vm.$baseValue24}}' id='implicit_input_{{vm.$baseValue24}}' type='text' value='{{vm.$baseValue24}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue25}}'>unit 25</label>
  <input name='explicit_input_{{vm.$baseValue25}}' id='explicit_input_{{vm.$baseValue25}}' type='text' ng-model='vm.$baseValue25' />
  <input name='implicit_input_{{vm.$baseValue25}}' id='implicit_input_{{vm.$baseValue25}}' type='text' value='{{vm.$baseValue25}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue26}}'>unit 26</label>
  <input name='explicit_input_{{vm.$baseValue26}}' id='explicit_input_{{vm.$baseValue26}}' type='text' ng-model='vm.$baseValue26' />
  <input name='implicit_input_{{vm.$baseValue26}}' id='implicit_input_{{vm.$baseValue26}}' type='text' value='{{vm.$baseValue26}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue27}}'>unit 27</label>
  <input name='explicit_input_{{vm.$baseValue27}}' id='explicit_input_{{vm.$baseValue27}}' type='text' ng-model='vm.$baseValue27' />
  <input name='implicit_input_{{vm.$baseValue27}}' id='implicit_input_{{vm.$baseValue27}}' type='text' value='{{vm.$baseValue27}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue28}}'>unit 28</label>
  <input name='explicit_input_{{vm.$baseValue28}}' id='explicit_input_{{vm.$baseValue28}}' type='text' ng-model='vm.$baseValue28' />
  <input name='implicit_input_{{vm.$baseValue28}}' id='implicit_input_{{vm.$baseValue28}}' type='text' value='{{vm.$baseValue28}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue29}}'>unit 29</label>
  <input name='explicit_input_{{vm.$baseValue29}}' id='explicit_input_{{vm.$baseValue29}}' type='text' ng-model='vm.$baseValue29' />
  <input name='implicit_input_{{vm.$baseValue29}}' id='implicit_input_{{vm.$baseValue29}}' type='text' value='{{vm.$baseValue29}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue30}}'>unit 30</label>
  <input name='explicit_input_{{vm.$baseValue30}}' id='explicit_input_{{vm.$baseValue30}}' type='text' ng-model='vm.$baseValue30' />
  <input name='implicit_input_{{vm.$baseValue30}}' id='implicit_input_{{vm.$baseValue30}}' type='text' value='{{vm.$baseValue30}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue31}}'>unit 31</label>
  <input name='explicit_input_{{vm.$baseValue31}}' id='explicit_input_{{vm.$baseValue31}}' type='text' ng-model='vm.$baseValue31' />
  <input name='implicit_input_{{vm.$baseValue31}}' id='implicit_input_{{vm.$baseValue31}}' type='text' value='{{vm.$baseValue31}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue32}}'>unit 32</label>
  <input name='explicit_input_{{vm.$baseValue32}}' id='explicit_input_{{vm.$baseValue32}}' type='text' ng-model='vm.$baseValue32' />
  <input name='implicit_input_{{vm.$baseValue32}}' id='implicit_input_{{vm.$baseValue32}}' type='text' value='{{vm.$baseValue32}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue33}}'>unit 33</label>
  <input name='explicit_input_{{vm.$baseValue33}}' id='explicit_input_{{vm.$baseValue33}}' type='text' ng-model='vm.$baseValue33' />
  <input name='implicit_input_{{vm.$baseValue33}}' id='implicit_input_{{vm.$baseValue33}}' type='text' value='{{vm.$baseValue33}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue34}}'>unit 34</label>
  <input name='explicit_input_{{vm.$baseValue34}}' id='explicit_input_{{vm.$baseValue34}}' type='text' ng-model='vm.$baseValue34' />
  <input name='implicit_input_{{vm.$baseValue34}}' id='implicit_input_{{vm.$baseValue34}}' type='text' value='{{vm.$baseValue34}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue35}}'>unit 35</label>
  <input name='explicit_input_{{vm.$baseValue35}}' id='explicit_input_{{vm.$baseValue35}}' type='text' ng-model='vm.$baseValue35' />
  <input name='implicit_input_{{vm.$baseValue35}}' id='implicit_input_{{vm.$baseValue35}}' type='text' value='{{vm.$baseValue35}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue36}}'>unit 36</label>
  <input name='explicit_input_{{vm.$baseValue36}}' id='explicit_input_{{vm.$baseValue36}}' type='text' ng-model='vm.$baseValue36' />
  <input name='implicit_input_{{vm.$baseValue36}}' id='implicit_input_{{vm.$baseValue36}}' type='text' value='{{vm.$baseValue36}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue37}}'>unit 37</label>
  <input name='explicit_input_{{vm.$baseValue37}}' id='explicit_input_{{vm.$baseValue37}}' type='text' ng-model='vm.$baseValue37' />
  <input name='implicit_input_{{vm.$baseValue37}}' id='implicit_input_{{vm.$baseValue37}}' type='text' value='{{vm.$baseValue37}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue38}}'>unit 38</label>
  <input name='explicit_input_{{vm.$baseValue38}}' id='explicit_input_{{vm.$baseValue38}}' type='text' ng-model='vm.$baseValue38' />
  <input name='implicit_input_{{vm.$baseValue38}}' id='implicit_input_{{vm.$baseValue38}}' type='text' value='{{vm.$baseValue38}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue39}}'>unit 39</label>
  <input name='explicit_input_{{vm.$baseValue39}}' id='explicit_input_{{vm.$baseValue39}}' type='text' ng-model='vm.$baseValue39' />
  <input name='implicit_input_{{vm.$baseValue39}}' id='implicit_input_{{vm.$baseValue39}}' type='text' value='{{vm.$baseValue39}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue40}}'>unit 40</label>
  <input name='explicit_input_{{vm.$baseValue40}}' id='explicit_input_{{vm.$baseValue40}}' type='text' ng-model='vm.$baseValue40' />
  <input name='implicit_input_{{vm.$baseValue40}}' id='implicit_input_{{vm.$baseValue40}}' type='text' value='{{vm.$baseValue40}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue41}}'>unit 41</label>
  <input name='explicit_input_{{vm.$baseValue41}}' id='explicit_input_{{vm.$baseValue41}}' type='text' ng-model='vm.$baseValue41' />
  <input name='implicit_input_{{vm.$baseValue41}}' id='implicit_input_{{vm.$baseValue41}}' type='text' value='{{vm.$baseValue41}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue42}}'>unit 42</label>
  <input name='explicit_input_{{vm.$baseValue42}}' id='explicit_input_{{vm.$baseValue42}}' type='text' ng-model='vm.$baseValue42' />
  <input name='implicit_input_{{vm.$baseValue42}}' id='implicit_input_{{vm.$baseValue42}}' type='text' value='{{vm.$baseValue42}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue43}}'>unit 43</label>
  <input name='explicit_input_{{vm.$baseValue43}}' id='explicit_input_{{vm.$baseValue43}}' type='text' ng-model='vm.$baseValue43' />
  <input name='implicit_input_{{vm.$baseValue43}}' id='implicit_input_{{vm.$baseValue43}}' type='text' value='{{vm.$baseValue43}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue44}}'>unit 44</label>
  <input name='explicit_input_{{vm.$baseValue44}}' id='explicit_input_{{vm.$baseValue44}}' type='text' ng-model='vm.$baseValue44' />
  <input name='implicit_input_{{vm.$baseValue44}}' id='implicit_input_{{vm.$baseValue44}}' type='text' value='{{vm.$baseValue44}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue45}}'>unit 45</label>
  <input name='explicit_input_{{vm.$baseValue45}}' id='explicit_input_{{vm.$baseValue45}}' type='text' ng-model='vm.$baseValue45' />
  <input name='implicit_input_{{vm.$baseValue45}}' id='implicit_input_{{vm.$baseValue45}}' type='text' value='{{vm.$baseValue45}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue46}}'>unit 46</label>
  <input name='explicit_input_{{vm.$baseValue46}}' id='explicit_input_{{vm.$baseValue46}}' type='text' ng-model='vm.$baseValue46' />
  <input name='implicit_input_{{vm.$baseValue46}}' id='implicit_input_{{vm.$baseValue46}}' type='text' value='{{vm.$baseValue46}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue47}}'>unit 47</label>
  <input name='explicit_input_{{vm.$baseValue47}}' id='explicit_input_{{vm.$baseValue47}}' type='text' ng-model='vm.$baseValue47' />
  <input name='implicit_input_{{vm.$baseValue47}}' id='implicit_input_{{vm.$baseValue47}}' type='text' value='{{vm.$baseValue47}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue48}}'>unit 48</label>
  <input name='explicit_input_{{vm.$baseValue48}}' id='explicit_input_{{vm.$baseValue48}}' type='text' ng-model='vm.$baseValue48' />
  <input name='implicit_input_{{vm.$baseValue48}}' id='implicit_input_{{vm.$baseValue48}}' type='text' value='{{vm.$baseValue48}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue49}}'>unit 49</label>
  <input name='explicit_input_{{vm.$baseValue49}}' id='explicit_input_{{vm.$baseValue49}}' type='text' ng-model='vm.$baseValue49' />
  <input name='implicit_input_{{vm.$baseValue49}}' id='implicit_input_{{vm.$baseValue49}}' type='text' value='{{vm.$baseValue49}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue50}}'>unit 50</label>
  <input name='explicit_input_{{vm.$baseValue50}}' id='explicit_input_{{vm.$baseValue50}}' type='text' ng-model='vm.$baseValue50' />
  <input name='implicit_input_{{vm.$baseValue50}}' id='implicit_input_{{vm.$baseValue50}}' type='text' value='{{vm.$baseValue50}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue51}}'>unit 51</label>
  <input name='explicit_input_{{vm.$baseValue51}}' id='explicit_input_{{vm.$baseValue51}}' type='text' ng-model='vm.$baseValue51' />
  <input name='implicit_input_{{vm.$baseValue51}}' id='implicit_input_{{vm.$baseValue51}}' type='text' value='{{vm.$baseValue51}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue52}}'>unit 52</label>
  <input name='explicit_input_{{vm.$baseValue52}}' id='explicit_input_{{vm.$baseValue52}}' type='text' ng-model='vm.$baseValue52' />
  <input name='implicit_input_{{vm.$baseValue52}}' id='implicit_input_{{vm.$baseValue52}}' type='text' value='{{vm.$baseValue52}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue53}}'>unit 53</label>
  <input name='explicit_input_{{vm.$baseValue53}}' id='explicit_input_{{vm.$baseValue53}}' type='text' ng-model='vm.$baseValue53' />
  <input name='implicit_input_{{vm.$baseValue53}}' id='implicit_input_{{vm.$baseValue53}}' type='text' value='{{vm.$baseValue53}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue54}}'>unit 54</label>
  <input name='explicit_input_{{vm.$baseValue54}}' id='explicit_input_{{vm.$baseValue54}}' type='text' ng-model='vm.$baseValue54' />
  <input name='implicit_input_{{vm.$baseValue54}}' id='implicit_input_{{vm.$baseValue54}}' type='text' value='{{vm.$baseValue54}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue55}}'>unit 55</label>
  <input name='explicit_input_{{vm.$baseValue55}}' id='explicit_input_{{vm.$baseValue55}}' type='text' ng-model='vm.$baseValue55' />
  <input name='implicit_input_{{vm.$baseValue55}}' id='implicit_input_{{vm.$baseValue55}}' type='text' value='{{vm.$baseValue55}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue56}}'>unit 56</label>
  <input name='explicit_input_{{vm.$baseValue56}}' id='explicit_input_{{vm.$baseValue56}}' type='text' ng-model='vm.$baseValue56' />
  <input name='implicit_input_{{vm.$baseValue56}}' id='implicit_input_{{vm.$baseValue56}}' type='text' value='{{vm.$baseValue56}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue57}}'>unit 57</label>
  <input name='explicit_input_{{vm.$baseValue57}}' id='explicit_input_{{vm.$baseValue57}}' type='text' ng-model='vm.$baseValue57' />
  <input name='implicit_input_{{vm.$baseValue57}}' id='implicit_input_{{vm.$baseValue57}}' type='text' value='{{vm.$baseValue57}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue58}}'>unit 58</label>
  <input name='explicit_input_{{vm.$baseValue58}}' id='explicit_input_{{vm.$baseValue58}}' type='text' ng-model='vm.$baseValue58' />
  <input name='implicit_input_{{vm.$baseValue58}}' id='implicit_input_{{vm.$baseValue58}}' type='text' value='{{vm.$baseValue58}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue59}}'>unit 59</label>
  <input name='explicit_input_{{vm.$baseValue59}}' id='explicit_input_{{vm.$baseValue59}}' type='text' ng-model='vm.$baseValue59' />
  <input name='implicit_input_{{vm.$baseValue59}}' id='implicit_input_{{vm.$baseValue59}}' type='text' value='{{vm.$baseValue59}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue60}}'>unit 60</label>
  <input name='explicit_input_{{vm.$baseValue60}}' id='explicit_input_{{vm.$baseValue60}}' type='text' ng-model='vm.$baseValue60' />
  <input name='implicit_input_{{vm.$baseValue60}}' id='implicit_input_{{vm.$baseValue60}}' type='text' value='{{vm.$baseValue60}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue61}}'>unit 61</label>
  <input name='explicit_input_{{vm.$baseValue61}}' id='explicit_input_{{vm.$baseValue61}}' type='text' ng-model='vm.$baseValue61' />
  <input name='implicit_input_{{vm.$baseValue61}}' id='implicit_input_{{vm.$baseValue61}}' type='text' value='{{vm.$baseValue61}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue62}}'>unit 62</label>
  <input name='explicit_input_{{vm.$baseValue62}}' id='explicit_input_{{vm.$baseValue62}}' type='text' ng-model='vm.$baseValue62' />
  <input name='implicit_input_{{vm.$baseValue62}}' id='implicit_input_{{vm.$baseValue62}}' type='text' value='{{vm.$baseValue62}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue63}}'>unit 63</label>
  <input name='explicit_input_{{vm.$baseValue63}}' id='explicit_input_{{vm.$baseValue63}}' type='text' ng-model='vm.$baseValue63' />
  <input name='implicit_input_{{vm.$baseValue63}}' id='implicit_input_{{vm.$baseValue63}}' type='text' value='{{vm.$baseValue63}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue64}}'>unit 64</label>
  <input name='explicit_input_{{vm.$baseValue64}}' id='explicit_input_{{vm.$baseValue64}}' type='text' ng-model='vm.$baseValue64' />
  <input name='implicit_input_{{vm.$baseValue64}}' id='implicit_input_{{vm.$baseValue64}}' type='text' value='{{vm.$baseValue64}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue65}}'>unit 65</label>
  <input name='explicit_input_{{vm.$baseValue65}}' id='explicit_input_{{vm.$baseValue65}}' type='text' ng-model='vm.$baseValue65' />
  <input name='implicit_input_{{vm.$baseValue65}}' id='implicit_input_{{vm.$baseValue65}}' type='text' value='{{vm.$baseValue65}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue66}}'>unit 66</label>
  <input name='explicit_input_{{vm.$baseValue66}}' id='explicit_input_{{vm.$baseValue66}}' type='text' ng-model='vm.$baseValue66' />
  <input name='implicit_input_{{vm.$baseValue66}}' id='implicit_input_{{vm.$baseValue66}}' type='text' value='{{vm.$baseValue66}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue67}}'>unit 67</label>
  <input name='explicit_input_{{vm.$baseValue67}}' id='explicit_input_{{vm.$baseValue67}}' type='text' ng-model='vm.$baseValue67' />
  <input name='implicit_input_{{vm.$baseValue67}}' id='implicit_input_{{vm.$baseValue67}}' type='text' value='{{vm.$baseValue67}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue68}}'>unit 68</label>
  <input name='explicit_input_{{vm.$baseValue68}}' id='explicit_input_{{vm.$baseValue68}}' type='text' ng-model='vm.$baseValue68' />
  <input name='implicit_input_{{vm.$baseValue68}}' id='implicit_input_{{vm.$baseValue68}}' type='text' value='{{vm.$baseValue68}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue69}}'>unit 69</label>
  <input name='explicit_input_{{vm.$baseValue69}}' id='explicit_input_{{vm.$baseValue69}}' type='text' ng-model='vm.$baseValue69' />
  <input name='implicit_input_{{vm.$baseValue69}}' id='implicit_input_{{vm.$baseValue69}}' type='text' value='{{vm.$baseValue69}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue70}}'>unit 70</label>
  <input name='explicit_input_{{vm.$baseValue70}}' id='explicit_input_{{vm.$baseValue70}}' type='text' ng-model='vm.$baseValue70' />
  <input name='implicit_input_{{vm.$baseValue70}}' id='implicit_input_{{vm.$baseValue70}}' type='text' value='{{vm.$baseValue70}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue71}}'>unit 71</label>
  <input name='explicit_input_{{vm.$baseValue71}}' id='explicit_input_{{vm.$baseValue71}}' type='text' ng-model='vm.$baseValue71' />
  <input name='implicit_input_{{vm.$baseValue71}}' id='implicit_input_{{vm.$baseValue71}}' type='text' value='{{vm.$baseValue71}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue72}}'>unit 72</label>
  <input name='explicit_input_{{vm.$baseValue72}}' id='explicit_input_{{vm.$baseValue72}}' type='text' ng-model='vm.$baseValue72' />
  <input name='implicit_input_{{vm.$baseValue72}}' id='implicit_input_{{vm.$baseValue72}}' type='text' value='{{vm.$baseValue72}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue73}}'>unit 73</label>
  <input name='explicit_input_{{vm.$baseValue73}}' id='explicit_input_{{vm.$baseValue73}}' type='text' ng-model='vm.$baseValue73' />
  <input name='implicit_input_{{vm.$baseValue73}}' id='implicit_input_{{vm.$baseValue73}}' type='text' value='{{vm.$baseValue73}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue74}}'>unit 74</label>
  <input name='explicit_input_{{vm.$baseValue74}}' id='explicit_input_{{vm.$baseValue74}}' type='text' ng-model='vm.$baseValue74' />
  <input name='implicit_input_{{vm.$baseValue74}}' id='implicit_input_{{vm.$baseValue74}}' type='text' value='{{vm.$baseValue74}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue75}}'>unit 75</label>
  <input name='explicit_input_{{vm.$baseValue75}}' id='explicit_input_{{vm.$baseValue75}}' type='text' ng-model='vm.$baseValue75' />
  <input name='implicit_input_{{vm.$baseValue75}}' id='implicit_input_{{vm.$baseValue75}}' type='text' value='{{vm.$baseValue75}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue76}}'>unit 76</label>
  <input name='explicit_input_{{vm.$baseValue76}}' id='explicit_input_{{vm.$baseValue76}}' type='text' ng-model='vm.$baseValue76' />
  <input name='implicit_input_{{vm.$baseValue76}}' id='implicit_input_{{vm.$baseValue76}}' type='text' value='{{vm.$baseValue76}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue77}}'>unit 77</label>
  <input name='explicit_input_{{vm.$baseValue77}}' id='explicit_input_{{vm.$baseValue77}}' type='text' ng-model='vm.$baseValue77' />
  <input name='implicit_input_{{vm.$baseValue77}}' id='implicit_input_{{vm.$baseValue77}}' type='text' value='{{vm.$baseValue77}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue78}}'>unit 78</label>
  <input name='explicit_input_{{vm.$baseValue78}}' id='explicit_input_{{vm.$baseValue78}}' type='text' ng-model='vm.$baseValue78' />
  <input name='implicit_input_{{vm.$baseValue78}}' id='implicit_input_{{vm.$baseValue78}}' type='text' value='{{vm.$baseValue78}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue79}}'>unit 79</label>
  <input name='explicit_input_{{vm.$baseValue79}}' id='explicit_input_{{vm.$baseValue79}}' type='text' ng-model='vm.$baseValue79' />
  <input name='implicit_input_{{vm.$baseValue79}}' id='implicit_input_{{vm.$baseValue79}}' type='text' value='{{vm.$baseValue79}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue80}}'>unit 80</label>
  <input name='explicit_input_{{vm.$baseValue80}}' id='explicit_input_{{vm.$baseValue80}}' type='text' ng-model='vm.$baseValue80' />
  <input name='implicit_input_{{vm.$baseValue80}}' id='implicit_input_{{vm.$baseValue80}}' type='text' value='{{vm.$baseValue80}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue81}}'>unit 81</label>
  <input name='explicit_input_{{vm.$baseValue81}}' id='explicit_input_{{vm.$baseValue81}}' type='text' ng-model='vm.$baseValue81' />
  <input name='implicit_input_{{vm.$baseValue81}}' id='implicit_input_{{vm.$baseValue81}}' type='text' value='{{vm.$baseValue81}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue82}}'>unit 82</label>
  <input name='explicit_input_{{vm.$baseValue82}}' id='explicit_input_{{vm.$baseValue82}}' type='text' ng-model='vm.$baseValue82' />
  <input name='implicit_input_{{vm.$baseValue82}}' id='implicit_input_{{vm.$baseValue82}}' type='text' value='{{vm.$baseValue82}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue83}}'>unit 83</label>
  <input name='explicit_input_{{vm.$baseValue83}}' id='explicit_input_{{vm.$baseValue83}}' type='text' ng-model='vm.$baseValue83' />
  <input name='implicit_input_{{vm.$baseValue83}}' id='implicit_input_{{vm.$baseValue83}}' type='text' value='{{vm.$baseValue83}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue84}}'>unit 84</label>
  <input name='explicit_input_{{vm.$baseValue84}}' id='explicit_input_{{vm.$baseValue84}}' type='text' ng-model='vm.$baseValue84' />
  <input name='implicit_input_{{vm.$baseValue84}}' id='implicit_input_{{vm.$baseValue84}}' type='text' value='{{vm.$baseValue84}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue85}}'>unit 85</label>
  <input name='explicit_input_{{vm.$baseValue85}}' id='explicit_input_{{vm.$baseValue85}}' type='text' ng-model='vm.$baseValue85' />
  <input name='implicit_input_{{vm.$baseValue85}}' id='implicit_input_{{vm.$baseValue85}}' type='text' value='{{vm.$baseValue85}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue86}}'>unit 86</label>
  <input name='explicit_input_{{vm.$baseValue86}}' id='explicit_input_{{vm.$baseValue86}}' type='text' ng-model='vm.$baseValue86' />
  <input name='implicit_input_{{vm.$baseValue86}}' id='implicit_input_{{vm.$baseValue86}}' type='text' value='{{vm.$baseValue86}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue87}}'>unit 87</label>
  <input name='explicit_input_{{vm.$baseValue87}}' id='explicit_input_{{vm.$baseValue87}}' type='text' ng-model='vm.$baseValue87' />
  <input name='implicit_input_{{vm.$baseValue87}}' id='implicit_input_{{vm.$baseValue87}}' type='text' value='{{vm.$baseValue87}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue88}}'>unit 88</label>
  <input name='explicit_input_{{vm.$baseValue88}}' id='explicit_input_{{vm.$baseValue88}}' type='text' ng-model='vm.$baseValue88' />
  <input name='implicit_input_{{vm.$baseValue88}}' id='implicit_input_{{vm.$baseValue88}}' type='text' value='{{vm.$baseValue88}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue89}}'>unit 89</label>
  <input name='explicit_input_{{vm.$baseValue89}}' id='explicit_input_{{vm.$baseValue89}}' type='text' ng-model='vm.$baseValue89' />
  <input name='implicit_input_{{vm.$baseValue89}}' id='implicit_input_{{vm.$baseValue89}}' type='text' value='{{vm.$baseValue89}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue90}}'>unit 90</label>
  <input name='explicit_input_{{vm.$baseValue90}}' id='explicit_input_{{vm.$baseValue90}}' type='text' ng-model='vm.$baseValue90' />
  <input name='implicit_input_{{vm.$baseValue90}}' id='implicit_input_{{vm.$baseValue90}}' type='text' value='{{vm.$baseValue90}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue91}}'>unit 91</label>
  <input name='explicit_input_{{vm.$baseValue91}}' id='explicit_input_{{vm.$baseValue91}}' type='text' ng-model='vm.$baseValue91' />
  <input name='implicit_input_{{vm.$baseValue91}}' id='implicit_input_{{vm.$baseValue91}}' type='text' value='{{vm.$baseValue91}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue92}}'>unit 92</label>
  <input name='explicit_input_{{vm.$baseValue92}}' id='explicit_input_{{vm.$baseValue92}}' type='text' ng-model='vm.$baseValue92' />
  <input name='implicit_input_{{vm.$baseValue92}}' id='implicit_input_{{vm.$baseValue92}}' type='text' value='{{vm.$baseValue92}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue93}}'>unit 93</label>
  <input name='explicit_input_{{vm.$baseValue93}}' id='explicit_input_{{vm.$baseValue93}}' type='text' ng-model='vm.$baseValue93' />
  <input name='implicit_input_{{vm.$baseValue93}}' id='implicit_input_{{vm.$baseValue93}}' type='text' value='{{vm.$baseValue93}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue94}}'>unit 94</label>
  <input name='explicit_input_{{vm.$baseValue94}}' id='explicit_input_{{vm.$baseValue94}}' type='text' ng-model='vm.$baseValue94' />
  <input name='implicit_input_{{vm.$baseValue94}}' id='implicit_input_{{vm.$baseValue94}}' type='text' value='{{vm.$baseValue94}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue95}}'>unit 95</label>
  <input name='explicit_input_{{vm.$baseValue95}}' id='explicit_input_{{vm.$baseValue95}}' type='text' ng-model='vm.$baseValue95' />
  <input name='implicit_input_{{vm.$baseValue95}}' id='implicit_input_{{vm.$baseValue95}}' type='text' value='{{vm.$baseValue95}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue96}}'>unit 96</label>
  <input name='explicit_input_{{vm.$baseValue96}}' id='explicit_input_{{vm.$baseValue96}}' type='text' ng-model='vm.$baseValue96' />
  <input name='implicit_input_{{vm.$baseValue96}}' id='implicit_input_{{vm.$baseValue96}}' type='text' value='{{vm.$baseValue96}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue97}}'>unit 97</label>
  <input name='explicit_input_{{vm.$baseValue97}}' id='explicit_input_{{vm.$baseValue97}}' type='text' ng-model='vm.$baseValue97' />
  <input name='implicit_input_{{vm.$baseValue97}}' id='implicit_input_{{vm.$baseValue97}}' type='text' value='{{vm.$baseValue97}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue98}}'>unit 98</label>
  <input name='explicit_input_{{vm.$baseValue98}}' id='explicit_input_{{vm.$baseValue98}}' type='text' ng-model='vm.$baseValue98' />
  <input name='implicit_input_{{vm.$baseValue98}}' id='implicit_input_{{vm.$baseValue98}}' type='text' value='{{vm.$baseValue98}}' />
</div>
<div>
  <label for='explicit_input_{{vm.$baseValue99}}'>unit 99</label>
  <input name='explicit_input_{{vm.$baseValue99}}' id='explicit_input_{{vm.$baseValue99}}' type='text' ng-model='vm.$baseValue99' />
  <input name='implicit_input_{{vm.$baseValue99}}' id='implicit_input_{{vm.$baseValue99}}' type='text' value='{{vm.$baseValue99}}' />
</div>
